.pokerchip {
  /*margin: 1em;*/
  position: relative;
  display: inline-block;
  width: 151px;
  height: 151px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.4) inset;
  border-radius: 50%;
  background-size: 151px 151px;
  background-position: center center;
}
.pokerchip:before {
  position: absolute;
  content: "";
  z-index: 1;
  width: 117px;
  height: 117px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  background-size: 151px 151px;
  background-position: center center;
}
.pokerchip:after {
  z-index: 2;
  position: absolute;
  content: "25";
  text-align: center;
  font: bold 50px/111px Arial;
  white-space: pre;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3),
    1px 1px 0px rgba(255, 255, 255, 0.2);
}

/* VALUES */

/* NPL VALUES AS FOLLOW:"

  GREEN: 25
  BLACK 100
  RED 500
  YELLOW 1k
  PURPLE 5k
  BLUE 10k
  ORANGE 25k
  PINK 100k

*/

.white:after {
  content: var(--chip-color-white-value, "1k");
  background: var(--chip-color-white-inner-circle, #dddddd);
  color: var(--chip-color-white-font, #c1c1c1);
}
.red:after {
  content: var(--chip-color-red-value, "5");
  background: var(--chip-color-red-inner-circle, #800000);
  color: var(--chip-color-red-font, #6c0000);
}
.blue:after {
  content: var(--chip-color-blue-value, "10");
  background: var(--chip-color-blue-inner-circle, #000099);
  color: var(--chip-color-blue-font, #00016c);
}

.green:after {
  content: var(--chip-color-green-value, "25");
  background: var(--chip-color-green-inner-circle, #008000);
  color: var(--chip-color-green-font, #016c00);
}

.black:after {
  content: var(--chip-color-black-value, "100");
  background: var(--chip-color-black-inner-circle, #222);
  color: var(--chip-color-black-font, #000);
}

.orange:after {
  font-size: 1.5em;
  content: var(--chip-color-orange-value, "100K");
  background: var(--chip-color-orange-inner-circle);
  color: var(--chip-color-orange-font);
}
/* Colors */

.white {
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 83.5px,
      transparent 83.5px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      transparent 113.4304px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      var(--chip-color-white-inner-circle, #dddddd) 0,
      var(--chip-color-white-inner-circle, #dddddd) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      var(--chip-color-white-inner-circle, #dddddd) 113.4304px,
      var(--chip-color-white-inner-circle, #dddddd) 151px
    );
}
.white:before {
  border: 8px solid var(--chip-color-white-inner-circle, #dddddd);
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      30deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      90deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      150deg,
      var(--chip-color-white-font, #c1c1c1) 0,
      var(--chip-color-white-font, #c1c1c1) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      var(--chip-color-white-font, #c1c1c1) 110.7104px,
      var(--chip-color-white-font, #c1c1c1) 151px
    );
}

.red {
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 67.5px,
      var(--chip-color-outer-highlight, #fff) 83.5px,
      transparent 83.5px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      transparent 113.4304px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      var(--chip-color-red-inner-circle, #800000) 0,
      var(--chip-color-red-inner-circle, #800000) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      var(--chip-color-red-inner-circle, #800000) 113.4304px,
      var(--chip-color-red-inner-circle, #800000) 151px
    );
}
.red:before {
  border: 8px solid var(--chip-color-red-inner-circle, #800000);
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      30deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      90deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      150deg,
      var(--chip-color-red-font, #6c0000) 0,
      var(--chip-color-red-font, #6c0000) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      var(--chip-color-red-font, #6c0000) 110.7104px,
      var(--chip-color-red-font, #6c0000) 151px
    );
}

.blue {
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 83.5px,
      transparent 83.5px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      transparent 113.4304px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      var(--chip-color-blue-inner-circle, #000099) 0,
      var(--chip-color-blue-inner-circle, #000099) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      var(--chip-color-blue-inner-circle, #000099) 113.4304px,
      var(--chip-color-blue-inner-circle, #000099) 151px
    );
}
.blue:before {
  border: 8px solid var(--chip-color-blue-inner-circle, #000099);
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      30deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      90deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      150deg,
      var(--chip-color-blue-font, #00016c) 0,
      var(--chip-color-blue-font, #00016c) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      var(--chip-color-blue-font, #00016c) 110.7104px,
      var(--chip-color-blue-font, #00016c) 151px
    );
}

.green {
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 83.5px,
      transparent 83.5px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      transparent 113.4304px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      var(--chip-color-green-inner-circle, #008000) 0,
      var(--chip-color-green-inner-circle, #008000) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      var(--chip-color-green-inner-circle, #008000) 113.4304px,
      var(--chip-color-green-inner-circle, #008000) 151px
    );
}
.green:before {
  border: 8px solid var(--chip-color-green-inner-circle, #008000);
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      30deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      90deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      150deg,
      var(--chip-color-green-font, #016c00) 0,
      var(--chip-color-green-font, #016c00) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      var(--chip-color-green-font, #016c00) 110.7104px,
      var(--chip-color-green-font, #016c00) 151px
    );
}
.black {
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 83.5px,
      transparent 83.5px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      transparent 113.4304px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      var(--chip-color-black-inner-circle, #222) 0,
      var(--chip-color-black-inner-circle, #222) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      var(--chip-color-black-inner-circle, #222) 113.4304px,
      var(--chip-color-black-inner-circle, #222) 151px
    );
}
.black:before {
  border: 8px solid var(--chip-color-black-inner-circle, #222);
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      30deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      90deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      150deg,
      var(--chip-color-black-font, #000) 0,
      var(--chip-color-black-font, #000) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      var(--chip-color-black-font, #000) 110.7104px,
      var(--chip-color-black-font, #000) 151px
    );
}

.orange {
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 67.5px,
      var(--chip-color-inner-highlight, #ebebeb) 83.5px,
      transparent 83.5px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 97.4304px,
      var(--chip-color-inner-highlight, #ebebeb) 113.4304px,
      transparent 113.4304px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      var(--chip-color-orange-inner-circle) 0,
      var(--chip-color-orange-inner-circle) 97.4304px,
      var(--chip-color-inner-highlight) 97.4304px,
      var(--chip-color-inner-highlight) 113.4304px,
      var(--chip-color-orange-inner-circle) 113.4304px,
      var(--chip-color-orange-inner-circle) 151px
    );
}
.orange:before {
  border: 8px solid var(--chip-color-orange-inner-circle);
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      30deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      90deg,
      transparent 0,
      transparent 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 69.5px,
      var(--chip-color-inner-highlight, #ebebeb) 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      transparent 0,
      transparent 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      150deg,
      var(--chip-color-orange-font) 0,
      var(--chip-color-orange-font) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 98.7104px,
      var(--chip-color-inner-highlight, #ebebeb) 110.7104px,
      var(--chip-color-orange-font) 110.7104px,
      var(--chip-color-orange-font) 151px
    );
}
