.frame {
  width: 3.5em;
  height: 5em;
  background: #ccc5b3;
  border-radius: 0.25em;
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
}
