body {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: -1px;
}

.card {
  width: 14rem;
  height: 20rem;
  margin: 100px auto;

  color: white;
  background: #ccc5b3;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);

  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);

  position: relative;
  overflow: hidden;
}
/*
.card.flipped:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -50px;
  background: #0c0b13;
  border-left: solid 250px #664c4f;
}
.card.flipped:after {
  content: "";
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: 50px;
  right: 50px;
  background: rgba(225, 98, 63, 0.7);
}*/
.card .content {
  z-index: 10;
  position: absolute;
  top: 45%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.card .mark {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  top: 16px;
  left: 24px;
}
.card .mark:after {
  content: "";
  display: block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  font-size: 2rem;
  /*color: #e1623f;*/
  margin-left: 10px;
  margin-top: -12px;
}
.card .mark.heart:after,
.card .content.heart:after {
  content: "♥︎";
}
.card .mark.spade:after,
.card .content.spade:after {
  content: "♠︎";
}
.card .mark.club:after,
.card .content.club:after {
  content: "♣︎";
}
.card .mark.diamond:after,
.card .content.diamond:after {
  content: "♦︎";
}

.card .content.heart:after,
.card .content.spade:after,
.card .content.club:after,
.card .content.diamond:after {
  font-size: 3em;
}

.card .mark.upside-down {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: auto;
  left: auto;
  bottom: 16px;
  right: 24px;
}

.red {
  color: #e1623f;
}
.dark {
  color: #0c0b13;
}
