.card {
  width: 3em;
  height: 5em;

  color: white;
  background: #ccc5b3;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);

  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);

  display: inline-block;
  position: relative;
  overflow: hidden;
}
/*
.card.flipped:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -50px;
  background: #0c0b13;
  border-left: solid 250px #664c4f;
}
.card.flipped:after {
  content: "";
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: 50px;
  right: 50px;
  background: rgba(225, 98, 63, 0.7);
}*/
.card .content {
  z-index: 10;
  position: absolute;
  top: 45%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.card .mark {
  position: absolute;
  font-size: 0.9em;
  font-weight: bold;
  top: 0.125em;
  left: 0.125em;
}
.card .mark:after {
  content: "";
  display: block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  font-size: 1em;
  /*color: #e1623f;*/
  margin-left: 0.05em;
  margin-top: -0.4em;
}
.card .mark.heart:after,
.card .content.heart:after {
  content: "♥︎";
}
.card .mark.spade:after,
.card .content.spade:after {
  content: "♠︎";
}
.card .mark.club:after,
.card .content.club:after {
  content: "♣︎";
}
.card .mark.diamond:after,
.card .content.diamond:after {
  content: "♦︎";
}

.card .content.heart:after,
.card .content.spade:after,
.card .content.club:after,
.card .content.diamond:after {
  font-size: 2em;
}

.card .mark.upside-down {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: auto;
  left: auto;
  bottom: 0.125em;
  right: 0.125em;
}

.red {
  color: #e1623f;
}
.dark {
  color: #0c0b13;
}
